body{
  position:relative;
  background-image: url("../Resources/telon_fondo.jpg");
  background-size: 100%;
  background-repeat: initial;
  background-attachment: fixed;
}
nav li{
	display: inline-block;
}
.titulo-radrica {
	padding: 15px;
	display: inline-block;
}
.container{
  background-color: white;
  padding-bottom: 10%;
}
#navegation{
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
}
#navegation .titulo-radrica a{
  color: black;
  font-size: 150%;
  font-weight: bold;
  text-decoration: none;
}
#navegation .titulo-radrica img{
	width: 10;
	height: 20;
}
}
form #loginadmin{
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5%;
  box-shadow: 5px 5px 20px grey;
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
}
table tr td img{
  height: 30%;
  width: 20%;
}