<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewpiort" content="width=device-width, initial-scale=1"/>

    <title>Error de ingreso</title>

    <link href="../Styles/admin_login.css"  rel="stylesheet" type="text/css">
    <link href="../Resources/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Error de ingreso</h1>
        <p>Inicie sesión correctamente.<br/> Vuelva a intentar.</p>
        <p><a class="btn btn-primary btn-lg" href="admin_login.php" role="button">Regresar</a></p>
      </div>
    </div>
    <script src="../Resources/jquery/dist/jquery.js"></script>
    <script src="../Resources/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
