body{
  position:relative;
  background-image: url("../Resources/telon_fondo.jpg");
  background-size: 100%;
  background-repeat: initial;
  background-attachment: fixed;
}
.container{
  background-color: white;
  padding-bottom: 20%;
}
#navegation{
  margin-top: 1%;
  margin-bottom: 3%;
  background-color: #FA2F2F;
}
#navegation a{
  color: black;
}
form #loginadmin{
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5%;
  box-shadow: 5px 5px 20px grey;
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
}
